


:root {
  --wavy-text-body-bg-color: #953061; 
  --wavy-text-body-color: #fff;
  --wavy-text-font-family: "Dancing Script", cursive;
  --wavy-text-animation-speed: 1s;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

}

*{ 
  margin:0;
  padding: 0;
  box-sizing: border-box;
  }
  
  
  body{
  
    font-family: "Open Sans", sans-serif;
    height: 100vh;
  }

  .contenedor{   
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
  
    }
    
  
  .titulo
  
  {
      color: #953061; 
      font-size: 2em;
  
  }    
 
  .clip-cicle {

    clip-path: circle(40%);
}

.logo {

  display: flex;
  justify-content: center;
  align-items: center;
  }
        
   
  
  .navbar {
      background-color: #cbc0c0;  
      display: flex;
      justify-content: space-between; 
      align-items: center;
      padding: 20px 30px;
    
  }
  
  .nav-links {
  display: flex;
  gap:30px;
  list-style:  none;
  }
  
  .nav-links li {
     
      font-family: Arial, Helvetica, sans-serif;;
      font-size: 25px;
      font-weight: bold;
  
        }
  
  .nav-links li a {
      color: #41403F;
      text-decoration: none; 
      transition: color 0.3s;    
  }
  
  .nav-links li a:hover {
      color:#953061;      
    }
  
    .burger {
  
      flex-direction: column;
      cursor: pointer;
      display: none;
      
      
        }
      
        .line {
      
          width: 30px;
          height: 3px;
          background-color:black;
          margin: 3px 0; 
          
        }

        .image1{
          width: 100%;
         
          } 
          
          
          
          .visita{

            display: flex;
            justify-content: center; 
            align-items: center;          
            font-size: 3em;            
            background-color:#843a5e;
            color:#F2F2F2;
            padding: 1em 1em;
            height: 20vh;

          }

          .visita1{
            background-color: #9B59B6;
            -webkit-transition: font-size 1s ease;
            transition: font-size 1s ease;
          }

          .visita1:hover{
            font-size: 28px;
          }

          .section1{
            display: flex;
            justify-content: center;
            background-color: #7a455f;
             
            
          }

          .section2{
            display: flex;
            justify-content: space-between;
            padding: 2em 1em 2em 1em;
             }

             .articleSevilla {
              padding: 1em 2em 2em;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 25px;
              display: flex;
              flex-direction: column;
              align-items: center;       
              
              
               }

               .item{
                font-weight: 800;
                padding-bottom: 15px;
                font-size: 25px;
                             
                
                 } 
                 
                 .formas{
                  width: 50%;
                  background-color: #843a5e;
                  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 1em 1em;
                  margin: 2em 1em;
                 }
                 .medida {

                  width: 50%;


                 }
                 .section3{
                  display:flex;
                 flex-direction: column;
                 padding: 90px;
                 font-size: 25px;
                 
                  } 
                  
                  .intro{
                  padding: 5px;
                  font-weight: normal;
                  font-size: 25px;
                    }

                    .articlePre{

                     padding-bottom: 20px;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                    

                    }

                    .h2Pre { 
                      padding: 30px;
                      font-size: 35px;                                 
                    
                    }
                    .cat{
                      margin: 0 auto;
                      padding: 40px;
                      font-weight: bold;
                      font-size: 1.5em;                  
                   

                    }

                    .list .cat{
                      text-decoration: none; 


                    }



                    .video{
                      margin: 0 auto;
                      padding-top: 4%;
                      display: flex;
                    justify-content: center;
                   
                    }
                    
                    .image2{
                    margin: 0 auto;
                    padding: 2em;
                    width: 80%;
                    display: flex; 
                    justify-content: center;                   
                   
                    }
                    
                 
                    .lista{
                  padding: 10%;
                  
                   } 
                   
                   .lista ul li {

                    padding: 10px;
                   }

                  .destacado {

                    font-weight: bold;
                    font-size: 20px;

                  } 

                 
                  /*Imagen animada svg*/               
                  
                  svg {
                    fill: currentColor;
                    max-width: 100%;
                    vertical-align: baseline;
                  }
                  
                  .site-container {
                    padding: 2em;
                    min-height: 10vh;
                    display: grid;
                    place-items: center;
                    font: 1em/160% sans-serif;
                    margin: 0;
                    background-color: var(--wavy-text-body-bg-color);
                    color: var(--wavy-text-body-color);
                  }
                  
                  #wavy-text {
                    font-family: var(--wavy-text-font-family);
                    font-size: 70px;
                    
                  }
                  
                  #wavy-text .char {
                    transform: translateY(0);
                    transform-origin: center;
                    animation: wavyText var(--wavy-text-animation-speed) ease-in-out infinite;
                  }
                  
                  #wavy-text .char:nth-child(1) {
                    animation-delay: 100ms;
                  }
                  
                  #wavy-text .char:nth-child(2) {
                    animation-delay: 200ms;
                  }
                  
                  #wavy-text .char:nth-child(3) {
                    animation-delay: 300ms;
                  }
                  
                  #wavy-text .char:nth-child(4) {
                    animation-delay: 400ms;
                  }
                  
                  #wavy-text .char:nth-child(5) {
                    animation-delay: 500ms;
                  }
                  #wavy-text .char:nth-child(6) {
                    animation-delay: 600ms;
                  }
                  #wavy-text .char:nth-child(7) {
                    animation-delay: 700ms;
                  }
                  
                  @keyframes wavyText {
                    0%,
                    100% {
                      transform: translateY(0);
                    }
                    25%,
                    50% {
                      transform: translateY(10%);
                    }
                  }             
                  
                                

                  
                
footer {

width: 100%;
display: flex;
align-items: center;
flex-direction: column;
padding: 2em 0;
background-color:#cbc0c0; 
     


}

.nav-footer { 

margin: 0;
padding: 0;
list-style:  none;
}

.nav-footer li {

display: flex;
justify-content: center;
padding: 5px 20px;
font-family: Arial, Helvetica, sans-serif;;
font-size: 25px;
font-weight: bold;

}

.nav-footer li a {

color:#953061;
text-decoration: none;

}

.nav-footer li a:hover {
 
  color: #41403F;  

}

.logo {

display: flex;
justify-content: center;
align-items: center;
}
  
  




      
  
    /* Responsive */
  
    @media (max-width: 768px){
  
      .navbar{
  
          position: relative;
      }
  
  .burger{
  display: flex;
  
  }
  
  .nav-links{
  
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color:  #F2F2F2;
  margin: 0;
  text-align: center;
  transition: all 0.3s;
  
  }
  
  .nav-links.active {
  padding-left: 0px;
  padding-bottom: 10px;
  display: flex;
      
  }
    
    .titulo
  
    {
        color: #953061; 
        font-size: 1.5em;
    
    }    
  .visita{

font-size: 2em;

  }

  visita1:hover {

font-size: 0.5em;


  }
.section3{

display: flex;
align-items: center;
justify-content: center;
padding: 3em;


}
.orden {

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

}

.cat{
  margin: 0 auto;
  padding: 40px;
  font-weight: bold;
  font-size: 0.8em;                  


}

}
@media (max-width: 462px){

.section2{

display: flex;
flex-direction: column;


}



}